<a href="https://colab.research.google.com/github/AkhilEda23/Assignment1/blob/main/Ass1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
minimum = min(ages)
print(minimum)
maximum  = max(ages)
print(maximum)
ages.append(maximum)
print(ages)
ages.append(minimum)
print(ages)
ages.sort()
print(ages)
medain_value = statistics.median(ages)
print(medain_value)
mean_value = statistics.mean(ages)
print(mean_value)
range_value  = max(ages) - min(ages)
print(range_value)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
24.0
22.75
7

In [29]:
#Dictionaries

dog = {
    "name" : "Miller",
     "color":"white",
     "breed" :"shinzu",
     "legs":4,
     "age":2
}

print(dog)

student = {
    "first_name" : "John",
    "last_name" :"Snow",
    "gender" :"male",
    "age":25,
    "marital_status" :"married",
    "skills" :["C programming","node","python"],
    "country":"USA",
    "city":"Overland Park",
    "address":"9008 w 124thst"
}

print(student)

print(len(student))

print(student["skills"])
print(type(student['skills']))

student["skills"].append("R programming")

print(student["skills"])


keys = student.keys()
print(keys)

values = student.values()
print(values)

{'name': 'Miller', 'color': 'white', 'breed': 'shinzu', 'legs': 4, 'age': 2}
{'first_name': 'John', 'last_name': 'Snow', 'gender': 'male', 'age': 25, 'marital_status': 'married', 'skills': ['C programming', 'node', 'python'], 'country': 'USA', 'city': 'Overland Park', 'address': '9008 w 124thst'}
9
['C programming', 'node', 'python']
<class 'list'>
['C programming', 'node', 'python', 'R programming']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['John', 'Snow', 'male', 25, 'married', ['C programming', 'node', 'python', 'R programming'], 'USA', 'Overland Park', '9008 w 124thst'])

In [36]:
#TUPLE

brother_tuple = ("adam","jamshed","jalal","arsal","farhaad")
 
print(type(brother_tuple))

sister_tuple = ("ajiya","kinza","huma","shahana")

print(type(sister_tuple))

siblings_tuple = brother_tuple + sister_tuple

print(siblings_tuple)

print(len(siblings_tuple))

<class 'tuple'>
<class 'tuple'>
('adam', 'jamshed', 'jalal', 'arsal', 'farhaad', 'ajiya', 'kinza', 'huma', 'shahana')
9

In [56]:
#Set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

it_companies.add("Twitter")
print(it_companies)

it_companies.update(["Cognizant","TCS","Accenture","MindTree"])
print(it_companies)

it_companies.remove('TCS')
print(it_companies)

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

C = A.union(B)
print(C)

D = A.intersection(B)
print(D)

print(A.issubset(B))
print(A.isdisjoint(B))

print(A.union(B))
print(B.union(A))

print(A.symmetric_difference(B))

del A
del B
#print(A)
#print(B)

age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(age_set)

print(len(age))
print(len(age_set))

7
{'IBM', 'Twitter', 'Google', 'Facebook', 'Amazon', 'Apple', 'Oracle', 'Microsoft'}
{'MindTree', 'IBM', 'Twitter', 'TCS', 'Google', 'Facebook', 'Amazon', 'Cognizant', 'Apple', 'Oracle', 'Accenture', 'Microsoft'}
{'MindTree', 'IBM', 'Twitter', 'Google', 'Facebook', 'Amazon', 'Cognizant', 'Apple', 'Oracle', 'Accenture', 'Microsoft'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
{19, 22, 24, 25, 26}
8
5